# Python
*.pyc
__pycache__/
venv/
env/
dist/
build/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# Data
*.xlsx
*.xls
*.h5
*.pkl

# Images
*.jpg
*.jpeg
*.png
*.gif
*.tif
*.tiff

# Logs
logs/

# Model artifacts
models/

# Visualizations
visualizations/

# IDE and text editor specific files
.idea/
.vscode/

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.DS_Store
